
@{
    Layout = "~/views/shared/HomeLayout.cshtml";
    ViewData["Title"] = "Contact";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-2 text-uppercase text-white mb-md-4">Contact</h1>

        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Contact Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">Contact Us</h5>
        <h1 class="display-3 text-uppercase mb-0">Get In Touch</h1>
    </div>
    <div class="row g-5 mb-5">
        <div class="col-lg-4">
            <div class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-map-marker-alt fs-4 text-white"></i>
                </div>
                <h5 class="text-uppercase text-primary">Visit Us</h5>
                <p class="text-secondary mb-0">Zarqa - Jordan</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-envelope fs-4 text-white"></i>
                </div>
                <h5 class="text-uppercase text-primary">Email Us</h5>
                <p class="text-secondary mb-0">GynHero@info.com</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column align-items-center bg-dark rounded text-center py-5 px-3">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                    <i class="fa fa-phone fs-4 text-white"></i>
                </div>
                <h5 class="text-uppercase text-primary">Call Us</h5>
                <p class="text-secondary mb-0">+012 345 6789</p>
            </div>
        </div>
    </div>
    
</div>

